<!DOCTYPE html>
<html lang="ro">
    
    <head>
    <!-- META-URI -->
    <meta name="keywords" content="costume populare, costume, popular, costume nemuritoare, tradițional, românesc, etnofolcloric, etnografie">
    <meta name="description" content="Bine ați venit în locul în care trecutul se trasformă în prezent! 
    Vă invităm să vă bucurați de cele mai frumoase și elegante articole vestimentare ale românilor din trecut, 
    dar și cele mai valoroase ale celor din prezent!">
    
    <title>Costume Nemuritoare </title>
    <%- include("../fragmente/head") %> <!--minus afiseaza-->
    <link rel="stylesheet" type="text/css" href="resurse/style/galerie-animata.css">
    <link rel="stylesheet" type="text/css" href="resurse/style/video.css">
    </head>

    <body>
        <%- include("../fragmente/header") %> <!--minus afiseaza-->
        <main>
            <div id="container">
                <section id="despre">
                    <h2>Despre Noi</h2>
                    <p>Suntem un grup de oameni simpli, iubitori de <b>folclor</b>, dornici să promoveze <b>costumele tradiționale</b> românești, pe
                    care le considerăm <b>costume nemuritoare</b> 
                    și să informeze publicul depsre elementele specifice fiecărei zone <b>etnofolclorice</b> în parte.<br/> Materialele din care 
                    sunt confecționate sunt de calitate înaltă, iar modelele unice regăsite pe fiecarea articol vestimentar
                    dezvăluie informații despre ceea ce simțeau oamenii vremii, în ce valori credeau și ce însemna pentru ei „frumosul”.<br/>
                    Scopul nostru este ca după vizitarea paginii să fiți capabili <em>să distingeți</em> <b>costumele</b> după caracteristici, <em>să 
                    recunoașteți</em> zona de proveniență și nu numai.</p>
                </section>
                <section id="sectiune-tabel">
                    <h2>Program</h2>
                    <p>Programul nostru de lucru și discuții cu utilizatorii este următorul:</p>
                <div style="overflow-x:scroll;">
                <table id="tabel">
                    <tr>
                    <th id="progr" colspan="6">Program de lucru</th>
                    </tr>
                    <tr>
                        <th>Zi:</th>
                        <td>Luni</td>
                        <td>Marți</td>
                        <td>Miercuri</td>
                        <td>Joi</td>
                        <td>Vineri</td>
                    </tr>
                    <tr>
                    <th>Program:</th>
                    <td>08:00-16:00</td>
                    <td>08:00-16:00</td>
                    <td>08:00-16:00</td>
                    <td>08:00-16:00</td>
                    <td>08:00-16:00</td>
                    </tr>
                </table>
                </div>
                </section>
                <section id="calendar">
                    <h2>Calendar</h2>
                    <p>Aici se va afla un calendar de evenimente!<br/><br/></p>
                </section>
                <section id="anunturi">
                    <h2>Anunțuri</h2>
                    <p>Noi costume populare din zona Moldovei și a Olteniei vor fi postate pe site după curățare și reabilitare!</p>
                    <p>Nu uita să asculți și vizionezi clipurile lunii de mai jos!</p>
                    <p>Află acum seminificațiile motivelor geometrice de pe iile din Banat în subsecțiunea Banat!</p>
                </section>
                <section id="lista">
                    <h2>Lista utilizatori online</h2>
                    <div class="fa-3x"><span class="fas fa-spinner fa-pulse"></span></div>
                </section>
                <section id="statistici">
                    <h2>Date despre utilizatori si statistici</h2>
                    <p>În această secțiune vor apărea date despre utilizatori și statistici!</p><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                </section>
                <section id="server">
                    <h2>Date despre site si server</h2>
                    <div class="fa-3x"><span class="fas fa-spinner fa-pulse"></span></div>
                </section>
                <section id="diverse">
                    <section id="clipuri" class="no-print">
                        <h2>Clipurile Lunii</h2>
                        <p>În această secțiune vor fi publicate lunar clipuri noi sau vechi de la tineri artiști sau artiști consacrați
                        ai muzicii <b>tradiționale</b> românești. Astfel, vă veți putea delecta cu voci calde, <b>costume</b> splendide, videoclipuri inspirate și cântece de suflet!
                        Artiștii acestei luni sunt:</p>
                        <ul>
                            <li>Paul Ananie </li>
                            <li>Emilia Dorobațu </li>
                            <li>Andreea Chisăliță</li>
                            </ul><br>
                        <div class = "no-print" id="iframe" >
                            <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/1F6U2R1EViE"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="taburi-iframe">
                                <a href="https://www.youtube.com/embed/1F6U2R1EViE" target="ifr-video">Paul Ananie - <q>Mândră dragă, iară-i noapte</q></a>
                                <a href="https://www.youtube.com/embed/NvqJsu6FigU" target="ifr-video" >Emilia Dorobanțu - <q>Iubeai neică pe ascuns</q></a>
                                <a href="https://www.youtube.com/embed/NEX-Eak1F0w" target="ifr-video" >Andreea Chisăliță - <q>Catrincioara</q><br/></a>
                            </div>
                        </div>
                        <!--details><summary><br>Paul Ananie - <q>Mândră dragă, iară-i noapte</q></summary>
                        <p><a href="https://www.facebook.com/fanpage.paul.ananie/" target="_blank">Paul Ananie</a> este un tânăr artist de folclor, născut în Sighetu Marmaţiei, Maramureș și reprezentând zona entofolclorică
                        a Maramureșului Istoric. De-a lungul carierei sale a obținut numeroase premii la concursuri importante, devenind, astfel, un nume 
                        important în <b>folclorul</b> <b>românesc</b>. Paul Ananie spunea că <q>Îmi doresc să aduc aminte astfel, cu mare recunoştinţă, 
                        de voia bună a strămoşilor noştri, de dorinţele, patimile, obiceiurile şi supărările lor, în alte cuvinte, de <b>etnografie</b> şi <b>folclor</b> maramureşan.</q>. 
                        Piesa de mai jos este lansată recent, însă mesajul acesteia există dintotdeauna. Vă invit <em>să o ascultați</em>!</p>
                        </details>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/1F6U2R1EViE" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <details><summary><br>Emilia Dorobanțu - <q>Iubeai neică pe ascuns</q></summary>
                        <p><a href="https://www.facebook.com/emilia.dorobantu.official" target="_blank">Emilia Dorobanțu</a>, recunoscută ca <q>VOCEA DE AUR</q> a Olteniei, este considerată urmașa Mariei Tănase.
                        Interpreta de muzică populară este câștigătoarea mai multor premii, fiind și absolventă a Universității Naționale 
                        de Muzică, secția Canto Clasic, București. La numai 17 ani, Emilia Dorobanțu reușea să ridice publicul în 
                        picioare la toate concursurile și festivalurile naționale, cât și internaționale. Cântăreața a participat și la 
                        <q>Vocea României</q>, unde a făcut parte din echipa Loredana și a ajuns destul de departe. Vă invit <em>să ascultați</em> capodopera
                        muzicală și <em>să vă bucurați</em> de <b>costumul</b> inedit!</p>
                        </details>
                         <iframe width="560" height="315" src="https://www.youtube.com/embed/NvqJsu6FigU"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <details><summary><br>Andreea Chisăliță - <q>Catrincioara</q></summary>
                        <p><a href="https://www.facebook.com/andreeaioana.chisalita/" target="_blank">Andreea Chisăliță</a> este o tânără artistă ce reprezintă
                            zona etnofolclorică Bucovina, fiind considerată urmașa Sofiei Vicoveanca. Artista este astăzi una dintre cele mai frumoase și talentate 
                            artiste ale generației sale, iar în ciuda vârstei tinere, reușește să ajungă la sufletele celor care o ascultă.
                            Carismatica interpretă spune cu bucurie că mereu cântecul a făcut parte din viața ei și asta pentru că <q>Dumnezeu i-a pus cântecul în leagăn</q>, 
                            aceasta oferindu-le un adevărat recital părinților în copilărie,  în drum spre grădiniță.
                            Câștigătoare a prestigioase premii, dar și membră a Ansamblului Artistic Profesionist „Ciprian Porumbescu” și studentă la Facultatea de Drept din Iași, 
                            Andreea Chisăliță profită de energia tinereții și reușește să fie și la facultate, dar și pe scenă, o profesionistă.
                            Poate și pentru că nu își imaginează viața fără cântec și fără visuri împlinite. Cântecul de mai jos are un titlu sugestiv, un articol vestimentar
                            esențial în <b>costumul popular</b> bucovinean, și anume catrința. Vă invit <em>să ascultați</em> și <em>să vă bucurați</em> de munca depusă!</p>
                        </details>
                         <iframe width="560" height="315" src="https://www.youtube.com/embed/NEX-Eak1F0w" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe-->
                         <div id="container-video" class="no-print">
                            <div id="centrare-video">
                                <div id="clip-video">
                                    <div id="stil-video">
                                        <video width="auto" height="240" playsinline autoplay loop poster="/resurse/imagini/fundal.jpg" controls>
                                            <source src="/resurse/video/Dor.mp4" type="video/mp4">
                                            <source src="/resurse/video/Dor.ogv" type-="video/ogv">
                                            <track default src="/resurse/video/caption-ro.vtt" kind="captions" srclang="ro" label="romana">
                                            <track src="/resurse/video/caption-en.vtt" kind="captions" srclang="en" label="engleza">
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </section>
                    <section id="istoric">
                        <h2>Istoric</h2>
                        <blockquote cite="https://bromania.ro/istoria-costumului-popular-romanesc/">Cea mai veche mărturie iconografică 
                        a portului popular tradițional românesc este reprezentată de figurine ceramice din zona Craiovei, datând din neolitic 
                        și despre care cercetătorii considera că reproduc decorul costumului popular. Alexandru Odobescu remarcase similitudinea între 
                        costumul popular românesc şi costumul dacilor de pe Columna lui Traian: <br/><br/><q>Cămaşa cu mâneci strânsă la mijloc şi crestată la poale
                        de ambele părţi, iţarii şi opincile ce le acoperă picioarele, gluga lăţoasă, sau sarica atârnată pe umeri… 
                        vălurile ce îmbrobodesc capul femeilor dace sunt maramele sătencelor noastre…</q>.<br/><br/>
                        <hr class="stil-hr"> Un alt document, în piatră, este cel de la Adamclisi, 
                        unde apare cămaşa încreţită la gât (IA) şi fota. <br/>Portul popular românesc își găsește rădăcinile în portul 
                        strămoșilor noștri traci, geți și daci și se aseamănă cu cel al popoarelor din Peninsula Balcanică, desigur cu 
                        deosebirile care constau în amănunte decorative și colorit. În decursul istoriei, structura și evoluția costumului 
                        popular românesc și-a păstrat nealterate caracteristicile esențiale.<br/><br/>De asemenea, numeroasele dovezi arheologice, datate din epoca bronzului, 
                        atesta podoabe precum salbele purtate la gat, dar si cusăturile de pe haine, statuetele având desenate croiala pieselor 
                        vestimentare precum cămașa, catrința sau opregul cu ciucuri lungi. Deși elementele principale ale portului popular 
                        românesc nu s-au schimbat foarte mult din punctul de vedere al croielii, 
                        în schimb atunci când vine vorba de ornamentație prin brodare, modelele s-au diversificat de-a lungul timpului, 
                        existând în prezent stiluri diferite pentru regiunile din țara noastră.</blockquote>
                    </section>
                    <!--de modificat-->
                    <section id="galerie-statica" class="no-print">
                        <h2>Galerie statica</h2>
                        <div id="grid-galerie">
                            <% for (let imag of locals.imagini_verif){  %>
                                <!--<figure>
                                    <img src="/<%-imag.mare%>" alt="briose">
                                    <figcaption>Briose</figcaption>
                                    </figure>-->
                                <figure class="no-print">
                                <picture class="no-print">
                                    <!-- il ia pe primul care se potriveste cu query-ul din media-->
                                    <source srcset="/<%-imag.mic%>" media="(max-width:600px)" />
                                     <source srcset="/<%-imag.mediu%>" media="(max-width:1200px)"/>
                                    <img src="/<%-imag.mare%>" alt="<%- imagini_verif.nume %>"/>
                                    <!--source srcset="/<%-imag.mic%>" media="(max-width:700px)"/>
                                    <source srcset="/<%-imag.mediu%>" media="(max-width:1200px)"/>
                                    <img src="/<%-imag.mare%>" alt="text"/-->
                                </picture>
                                <figcaption><%-imag.descriere%></figcaption>
                                </figure>
                            <% } %>
                        </div>
                    <section id="sectiune-galerie-animata">
                        <h2>Galerie animata</h2>
                            <div id="galerie-animata" class="galerie-a">
                                    <% for (let imagine of locals.imaginiRandom) {%>
                                        <figure>
                                            <picture>
                                                <source srcset="/<%-imagine.mic%>" media="(max-width:700px)" />
                                                <source srcset="/<%-imagine.mediu%>" media="(max-width:1200px)"/>
                                                <img src="/<%-imagine.mare%>" alt="<%- imagine.nume %>"/>
                                            </picture>
                                            <figcaption><%-imagine.descriere%> </figcaption>
                                        </figure> 
                                   <% } %> 
                            </div>
                    </section>

                    </section>
                <!--<section id="moldova">
                </section>
                <section id="oltenia">
                </section>
                <section id="muntenia">
                </section>
                <section id="dobrogea">
                </section>
                <section id="banat">
                </section>
                <section id="articole">
                </section>-->
                </section>
            </div>
        </main>
        <%- include("../fragmente/footer") %> <!--minus afiseaza-->
        <div id="banner" class="no-print">Acesta este un proiect școlar!</div>
    </body>
</html>